<app-header></app-header>
<app-sidebaar> </app-sidebaar>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
  
        <label for="Categories">Categories:</label>

        <div class="input-group">
          <div class="input-group-prepend">
          
          </div>
          <select id="categorie" class="custom-select" name="categorie" [(ngModel)]="formData.parentId">
          
            <option *ngFor="let category of TbData" [ngValue]="category.id">{{ category.productName }}</option>
          </select>
        </div>
      
          <div class="form-group">
            <label for="productName">ProductName:</label>
            <input type="text" id="productName" class="form-control" name="productName"  [(ngModel)]="formData.productName">
          </div>
          
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" class="form-control"  name="price" [(ngModel)]="formData.price" >
          </div>
  
          <div class="form-group">
            <label for="BarandName">BrandName:</label>
            <input type="text" id="BarandName" class="form-control" name="brandName" [(ngModel)]="formData.brand" >
          </div>
  
          <div class="form-group row">
            <label for="image" class="col-sm-4">Image</label>
            <div >
              <input  id="image" [(ngModel)]="formData.productImage" type="file"
                name="image"  class="form-control"(change)="onFileSelected($event)" accept="image/*" >
            </div>
          </div>
          <div class="form-group">
            <label for="returnable">Is Returnable?</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="returnableTrue" [(ngModel)]="formData.isReturnable" [value]="true" name="returnable">
              <label class="form-check-label" for="returnableTrue">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="returnableFalse" [(ngModel)]="formData.isReturnable" [value]="false" name="returnable">
              <label class="form-check-label" for="returnableFalse">No</label>
            </div>
          </div>
          
          
          <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>

  
<!-- <div class="TblDiv">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">CategoryName</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Product Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody style="height: 300px; overflow-y: auto;">
      <tr *ngFor="let product of data;let i=index;">
        <td>{{ product.catregoryName }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.brand }}</td>
        <td><img [src]="product.productImage" alt="{{ product.productImage }}" width="50" height="50"></td>
        <td>
    <button class="btn btn-primary" (click)="editClick(i)">
  <i class="fas fa-edit"></i> Edit
      </button>

          <button class="btn btn-danger" (click)="deleteProduct(product)"><i class="fas fa-trash-alt"></i> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="TblDiv">
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">Category Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Product Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody style="height: 300px; overflow-y: auto;">
      <tr *ngFor="let product of data; let i=index;">
        <td>{{ product.categoryName }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.brand }}</td>
        <td><img [src]="product.productImage" alt="{{ product.productImage }}" width="50" height="50"></td>
           <td>
          <button class="btn btn-primary" (click)="editClick(i)"><i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-danger" (click)="deleteProduct(product)"><i class="fas fa-trash-alt"></i> Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
  <app-footer></app-footer> 

